/* this file will be extracted to main dist folder and is imported in index.html */


/* This file is for setting global styles  */

@import 'variables';
h2,
h3 {
    margin-top: 30px
}

// Loading 
$base-line-height: 24px;
$white: rgb(255, 255, 255);
$off-white: rgba($white, 0.2);
$spin-duration: 1s;
$pulse-duration: 750ms;
@keyframes pulse {
    50% {
        background: gray;
    }
}


// .loading {
//     border-radius: 50%;
//     width: $base-line-height;
//     height: $base-line-height;
//     border: .25rem solid $off-white;
//     border-top-color: $white;
//     animation: spin $spin-duration infinite linear;
//     &--double {
//         border-style: double;
//         border-width: .5rem;
//     }
// }

.loading-pulse {
    position: relative;
    width: ($base-line-height / 4);
    height: $base-line-height;
    background: $off-white;
    animation: pulse $pulse-duration infinite;
    animation-delay: ($pulse-duration / 3);
    &:before,
    &:after {
        content: '';
        position: absolute;
        display: block;
        height: ($base-line-height / 1.5);
        width: ($base-line-height / 4);
        background: $off-white;
        top: 50%;
        transform: translateY(-50%);
        animation: pulse $pulse-duration infinite;
    }
    &:before {
        left: -($base-line-height / 2);
    }
    &:after {
        left: ($base-line-height / 2);
        animation-delay: ($pulse-duration / 1.5);
    }
}

.gallery {
    .card {
        .card-title {
            font-size: 18px
        }
        .card-img-top {
            height: 150px
        }
        .card-text {
            font-size: 14px
        }
    }
}

.card-footer {
    margin-top: 30px
}

//flex related
.flex-corner {
    display: flex;
    justify-content: space-between
}

// LOGIN - SIGNUP
#loginbox {
    margin-top: 40px;
    .card {
        a:hover {
            cursor: pointer;
        }
        .login-header {
            h3 {
                margin: 0;
            }
            display:flex;
            padding:10px;
            align-items: center;
            justify-content: space-between;
        }
        .text-bottom {
            float: right;
            font-size: 14px;
        }
        .control-button {
            margin-top: 10px;
            margin-bottom: 40px;
            button {
                width: 100%;
            }
        }
    }
}