<div class="container">
    <div class="row">
        <div id="loginbox" class="mainbox col-md-4 offset-md-4 col-sm-8 offset-sm-2">
            <div class="card">
                <div class="card-header">
                    <div class="login-header">
                        <h3>Sign In</h3>
                        <div><a href="">Forgot password?</a></div>
                    </div>
                </div>
                <div class="card-block">
                    <div class="col-12">
                        <form class="form-horizontal" role="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>

                            <div class="form-group form-group-lg" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                                <label class="control-label" for="username">Username</label>
                                <span class="input-group"><span class="input-group-addon">
                                        <span aria-hidden="true" class="fa fa-user"></span></span>
                                <input type="text" class="form-control" name="username" [(ngModel)]="formData.username" #username="ngModel" placeholder="Enter Username"
                                    required />
                                </span>
                                <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
                            </div>


                            <div class="form-group form-group-lg" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                                <label for="password" class="control-label">Password</label>
                                <span class="input-group"><span class="input-group-addon">
                                        <span aria-hidden="true" class="fa fa-lock"></span></span>
                                <input type="password" class="form-control" name="password" [(ngModel)]="formData.password" #password="ngModel" placeholder="Password"
                                    required /></span>
                                <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
                            </div>


                            <div class="text-center control-button col-sm-12">
                                <button [disabled]="loading" type="submit" class="btn btn-primary">Login</button>
                            </div>
                            <div class="form-group">
                                <div class="text-bottom">
                                    <div>Don't have an account <a href="#" class="margin-left">Sign Up Here</a></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>




<!--

<div class="form-group form-group-lg">
    <label for="username" class="control-label">Username</label>
    <span class="input-group"><span class="input-group-addon">
                                        <span aria-hidden="true" class="fa fa-user"></span></span>
    <input type="text" name="username" placeholder="Enter Username" value="" id="username" class="form-control"></span>

</div>


<div class="form-group form-group-lg">

    <label for="password" class="control-label">Password</label>
    <span class="input-group"><span class="input-group-addon">
                                        <span aria-hidden="true" class="fa fa-lock"></span>
    </span>
    <input type="text" name="password" placeholder="Password" value="" id="password" class="form-control"></span>

</div>-->